.payment {
  background-color: hsl(0, 0%, 100%);
}

.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: hsl(180, 8%, 92%);
  border-bottom: 1px solid hsl(0, 0%, 83%);
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid hsl(0, 0%, 83%);
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  max-width: 400px;
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background: hsl(43, 85%, 62%);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: hsl(43, 53%, 43%) hsl(43, 52%, 40%) hsl(43, 53%, 34%);
  color: hsl(0, 0%, 7%);
}
